* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.main__title {
    margin-left: 12.5vw;
    padding: 50px 0;
}

.sponsors {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: auto;
}

.general__sponsor {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    margin-bottom: 100px ;
}

.image__holder {
    position: relative;
    height: calc(0.667*75vw);
}

.image__holder img{
    height: calc(0.667*75vw);
    width: 100%;
    position: absolute;
}

.gold__sponsor .image__holder {
    position: relative;
    height: calc(0.667*75vw*0.8);
}

.gold__sponsor .image__holder img{
    height: calc(0.667*75vw*0.8);
    width: 100%;
    position: absolute;
}

.sponsor__title {
    position: absolute;
    z-index: 2;
    top: calc(0.6*75vw);
    right: -50px;
    display: flex;
    flex-direction: column;
    padding: 10;
    padding: 20px;
    width: 200;
    height: 123;
}

.sponsor__title h3 {
    color: white;
}

.general {
    background-color: #30CEC1;
}

.general__logo {
    position: absolute;
    top: calc(0.65*75vw);
    left: -20px;
}

.gold__logo {
    position: absolute;
    top: calc(0.52*75vw);
    left: -20px;
}

.gold {
    background-color: #2C373F;
    right: -100px;
    top: calc(0.48*75vw)
}



.gold h2{
    color: #30CEC1;
}

.gold__sponsor {
    position: relative;
    display: flex;
    width: 80%;
    flex-direction: column;
    box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    margin-bottom: 100px;
}

.sponsors p {
    padding: 15px;
    margin-top: 80px;
}

.gold__sponsor:nth-of-type(2n-1) {
    align-self: flex-end;
}

.gold__sponsor:nth-of-type(2n-1) .gold__logo{
    left: auto;
    right: -20px;
}

.gold__sponsor:nth-of-type(2n-1) .gold {
    right: auto;
    left: -100px;
}

.img1{
    animation: slideshow 24s infinite;
}
.img2{
    animation: slideshow 24s infinite 6s;
}
.img3{
    animation: slideshow 24s infinite 12s;
}
.img4{
    animation: slideshow 24s infinite 18s;
}

.partners {
    display: flex;
    width: 75vw;
    margin: 0 12.5vw ;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.partner {
    flex-basis: 50%;
    margin-top: 20px;
    margin-right: 8%;
}
.partner img{
    width: 100%;
}

@keyframes slideshow {
    from {
        opacity: 0;
        z-index: 1;
    }
    4% {
        opacity: 1;
        z-index: 1;
    }
    25% {
        opacity: 1;
        z-index: 1;
    }
    29% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0;
        z-index: 0;
    }
    54% {
        opacity: 0;
        z-index: 0;
    }
    75% {
        opacity: 0;
        z-index: 0;
    }
    79% {
        opacity: 0;
        z-index: 0;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
}

@media screen and (min-width:463px) and (max-width: 750px) {
    .partner {
        flex-basis: 40%;
    }
}
@media screen and (min-width:750px) and (max-width: 1008px) {
    .partner {
        flex-basis: 25%;
    }
}
@media screen and (min-width:1008px){
    .partner {
        flex-basis: 15%;
    }
}
@media screen and (min-width:750px){
    .general__sponsor {
        flex-direction: row;
        position: relative;
        box-shadow: none;
    }
    .general__sponsor .image__holder {
        height: inherit;
        width: 37.5vw;
        flex-shrink: 0;
    }
    .general__sponsor .image__holder img{
        height: 40%;
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    }
    .general__sponsor .sponsor__title {
        top: 190px;
        right: 50%;
        width: 200px;
        height: 140px;
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    }
    .general__logo {
        position: absolute;
        top: 0px;
        left: calc(50% - 30px);
    }
    .general__sponsor p{
        position: relative;
        padding-top: 100px;
        top:-80px;
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    }
    .gold__sponsor {
        box-shadow: none;
        width: 30vw;
        margin-bottom: -200px;
    }
    .gold__sponsor:last-child {
        margin: 0;
    }
    .gold__sponsor .image__holder {
        width: 110%;
        align-self: flex-end;
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    }
    .gold__sponsor:nth-child(2n-1) .image__holder{
        right: -10%;
    }
    .gold__sponsor .sponsor__title {
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
    }
    .gold__sponsor p {
        box-shadow: 0px 21px 46px 0px rgba(0,0,0,0.16);
        position: relative;
        padding-top: 100px;
        top: -100px;
    }
}
